<h1>Welcome to Rock, Paper, Scissors!</h1>
<br>
<h3>Instructions:</h3>
<h5>In the address bar at the top of the page, next to "http://localhost:4567/rps" enter your 2 hand plays either as:
<ul>
  <li>/rock</li>
  <li>/paper</li>
  <li>/scissors</li>
</ul>
Make sure to include the forward slash at the beginning of your input. This is very important or it will not work properly!
<br>
<br>
Your input should look something like "http://localhost:4567/rps/paper/rock".
<br>
<br>
Then press return to see who wins!</h5>
